<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <link rel="stylesheet" th:href="@{/css/global/global.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/colors.css}">
    <link rel="stylesheet" th:href="@{/css/fonts/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text_old:400&text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93&lang=pl">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans_old:400,500,700|Google+Sans+Text_old:400,500,700&lang=pl">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.svg}">
</head>
<body>
<div class="login-container">
    <h2>Zaloguj się</h2>
    <form action="#" th:action="@{/admin/loginRequest}" method="post">
        <div th:if="${error}">
            <p style="color: red;">Niepoprawne dane logowania</p>
        </div>
        <div>
            <label for="username">Nazwa użytkownika:</label><br>
            <input type="text" id="username" name="username" required><br>
        </div>
        <div>
            <label for="password">Hasło:</label><br>
            <input type="password" id="password" name="password" required><br><br>
        </div>
        <input type="submit" value="Zaloguj">
    </form>
</div>
</body>
</html>