.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 100vh;
    flex-direction: column;
    background-color: #efe2f8;
}
form{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    background-color: #6c757d;
    padding: 2rem;
    gap: 3vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #6f42c1;
}
input{
    padding: .7vh;
    border-radius: 5px;
    border: none;
}
input[type="submit"]{
    background-color: #ffffff;
    color: #6f42c1;
    cursor: pointer;
}