<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rozkład Jazdy Linii</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.svg}">
    <link rel="stylesheet" th:href="@{/css/RozkladJazdy/rozkladyJazdy.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/colors.css}">
</head>
<body>

<h1>Lista Linii</h1>

<!--
<table border="1">
    <thead>
    <tr>
        <th>Linia</th>
        <th>Rozkład jazdy</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${linie}">
        <td th:text="${row[0]}"></td>
        <td><a th:href="'/' + ${row[0]}"><button>Zobacz Rozkład</button></a> </td>
    </tr>
    </tbody>
</table>
-->

<table border="1">
    <thead>
    <tr>
        <th>Linia</th>
        <th>Rozkład jazdy</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>174</td>
        <td><a><button>Zobacz Rozkład</button></a></td>
    </tr>
    <tr>
        <td>208</td>
        <td><a><button>Zobacz Rozkład</button></a></td>
    </tr>
    <tr>
        <td>nie wiem jeszcze jaka</td>
        <td><a ><button>Zobacz Rozkład</button></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>