/* src/main/resources/static/css/tickets/tickets.css */

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header styles */
.header-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other elements */
    background-color: #ffffff; /* Set a background color to avoid transparency issues */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

/* Main content styles */
.main-container-fluid {
    padding-top: 60px; /* Adjust this value based on the height of your header */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height to account for the header */

}

/* Form styles */
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

form select,
form input[type="date"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Roboto;
}

form input[type="submit"] {
    background-color: #6f42c1;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #5b33a1;
}