.profile-container {
    width: 80%;
    margin: auto;
}

.profile-content {
    display: flex;
    justify-content: space-between;
}

.edit-profile, .tickets {
    width: 48%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #6f42c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #5b33a1;
}

header{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 2%;
}

.logout a{
    position: absolute;
    top: calc(4% + 50px);
    right: 5%;
    padding: 5px 10px;
    background-color: #8a1202;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}
.logout a:hover{
    background-color: #c70000;
    color: white;
    text-decoration: none;
}